* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet Ms";
  background: rgb(198, 222, 243);
}

button,
.btn {
  text-transform: capitalize;
  height: auto;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3px 1px -2px #ccc, 0 2px 2px 0 #ccc, 0 1px 5px 0 #ccc;
}

a {
  text-decoration: none;
}
